<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450483497696-vnouvvueo62n7umrv241e3gbrt7crsq6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450483497696-vnouvvueo62n7umrv241e3gbrt7crsq6</string>
	<key>API_KEY</key>
	<string>AIzaSyAkp1TIE97-Xh6cQLkmWtFZRfhql0gVKm8</string>
	<key>GCM_SENDER_ID</key>
	<string>450483497696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hosonuma.sakki.misedoko</string>
	<key>PROJECT_ID</key>
	<string>mise-a532d</string>
	<key>STORAGE_BUCKET</key>
	<string>mise-a532d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450483497696:ios:f4ef4425400f3ceba57e85</string>
</dict>
</plist>